@{
    ViewData["Title"] = "Delete Movie";
}
@model Movies

<h1>Delete Confirmation</h1>
<h2>Are you sure you want to delete @Model.Title?</h2>

<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit" class="button btn-secondary">Delete</button>
    <a asp-controller="Home" asp-action="ViewMovies" class="button btn-primary">Cancel</a>

    <input type="hidden" asp-for="MovieId" />
</form>