@{
    ViewData["Title"] = "JHFC";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="~/img/JoelHiltonHeadshot.jpg" />
    <p>Learn about the stud's collection for yourself</p>
</div>
